@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.font-roboto {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: #31493c;
  --color-heading: #001a23;
  --color-accent: #7a9e7e;
  --color-secondary: #b3efb2;
}
